<div class="p-3 text-center bg-white border-bottom">
  <div class="container">
    <div class="row gy-3">
      <!-- Left elements -->
      <div class="col-lg-2 col-sm-4 col-4">
        <a href="https://mdbootstrap.com/" target="_blank" class="float-start">
          <img src="../../../assets/iconobasico.png" height="35" />
        </a>
      </div>
      <!-- Left elements -->

      <!-- Center elements -->
      <div class="order-lg-last col-lg-5 col-sm-8 col-8">
        <div class="d-flex float-end">
          <div class="login" *ngIf="login == 'true'; else aux ">
            <a
              href="login"
              class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"
              target="_blank"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">LOGIN</p>
            </a>
          </div>
          <ng-template  #aux>
            <a
              href="https://github.com/mdbootstrap/bootstrap-material-design"
              class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">LOG OUT</p>
            </a>
          </ng-template>
            <a
              href="https://github.com/mdbootstrap/bootstrap-material-design"
              class="border rounded py-1 px-3 nav-link d-flex align-items-center"
              target="_blank"
            >
              <i class="fas fa-shopping-cart m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">CARRITO</p>
            </a>

        </div>
      </div>
      <!-- Center elements -->

      <!-- Right elements -->
      <div class="col-lg-5 col-md-12 col-12">
        <div class="input-group float-center"></div>
      </div>
      <!-- Right elements -->
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-white" id="navbar">
  <div class="container justify-content-center justify-content-md-between">
    <button
      class="navbar-toggler border py-2 text-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarLeftAlignExample"
      aria-controls="navbarLeftAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="sales">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="about">About</a>
        </li>
        <div class="nav-item">

      
      </div>
      </ul>
    </div>
  </div>
</nav>

<!-- Latest compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
