/* .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
   */

   .navbar-nav .nav-link {
    position: relative;
    color: #000;
    transition: color 0.3s;
  }

  .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s;
  }

  .navbar-nav .nav-link:hover:before {
    width: 100%;
  }

  .navbar-nav .nav-link:hover {
    color: #000;
    text-decoration: none;
  }