.image-container {
    position: relative;
     /* ajusta el ancho según tus necesidades */
     /* ajusta la altura según tus necesidades */
  }
  
  .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 50px !important; */
  }
  
  .notification {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  