<form>
  <div class="mb-3 mt-3">
    <label for="id" class="form-label">ID:</label>

    <input
      type="text"
      class="form-control"
      id="id"
      placeholder="Enter ID"
      #id
    />
  </div>

  <div class="mb-3">
    <label for="title" class="form-label">Producto:</label>

    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Enter product"
      #producto
    />
  </div>

  <div class="mb-3">
    <label for="creator" class="form-label">Precio:</label>

    <input
      type="text"
      class="form-control"
      id="creator"
      placeholder="Enter price"
      #precio
    />
  </div>


  <div class="mb-3">
    <label for="image" class="form-label">Image:</label>

    <input
      type="url"
      class="form-control"
      id="image"
      placeholder="Enter image"
      #image
    />
  </div>
  <div class="mb-3">
    <label for="year" class="form-label">Oferta:</label>

    <input
      type="text"
      class="form-control"
      id="year"
      placeholder="SI/NO"
      #oferta
    />
  </div>

 <button
    type="submit"
    class="btn btn-primary"
    (click)="
      saveProducts(
        id.value,
        producto.value,
        precio.value,
        image.value,
        oferta.value
      )
    "
  >
    Enviar
  </button>

  <button
    type="submit"
    class="btn btn-primary"
    (click)="
      updateProducts(
        id.value,
        producto.value,
        precio.value,
        image.value,
        oferta.value
      )
    "
  >
    Actualizar
  </button>

  <button
    type="submit"
    class="btn btn-danger"
    (click)="deleteProducts(id.value)"
  >
    Delete
  </button>


</form>
