<div class="bg-primary text-white py-5">
  <div class="container py-5">
    <h1>
      FootFlex <br />
      Tienda de zapatos
    </h1>
    <p>
      Pasos de moda, comodidad y autenticidad. Encuentra tu estilo en nuestra tienda de sneakers exclusivos.
    </p>
    <button type="button" class="btn btn-outline-light">
      Sobre nosotros
    </button>
    <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
      <span class="pt-1">Comprar ahora!</span>
    </button>
  </div>
</div>
