<div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectoweb2-bf2da.appspot.com/o/carusel1.jpg?alt=media&token=5d3f5b3d-2302-4bf7-b04e-33e4a59c2712" class="d-block w-100 img-responsive" alt="Image 1">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectoweb2-bf2da.appspot.com/o/carusel2.jpg?alt=media&token=db04a9b8-bc32-465e-af95-164727fb71bc" class="d-block w-100 img-responsive" alt="Image 2">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectoweb2-bf2da.appspot.com/o/carusel3.jpg?alt=media&token=d85fc823-1682-4316-9161-81e0e7c9cfcc" class="d-block w-100 img-responsive" alt="Image 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="bg-primary text-white py-5">
  <div class="container py-5">
    <h1>
      FootFlex <br />
      Tienda de zapatos
    </h1>
    <p>
      Pasos de moda, comodidad y autenticidad. Encuentra tu estilo en nuestra tienda de sneakers exclusivos.
    </p>
    <button type="button" class="btn btn-outline-light">
      Sobre nosotros
    </button>
    <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
      <span class="pt-1">Comprar ahora!</span>
    </button>
  </div>
</div>
